* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-header: #1E1E1E;
  --text-color: #fff;
  --font-actor: "Actor", sans-serif;
  --font-lily: "Lily Script One", cursive;
}


nav, div, section, 
figure, header, ul, 
footer{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

figure {
  width: 100%;
  max-height: 558px;
  background-color: red;
  overflow: hidden;
}

img {
  display: block;

  width: 100%;
  max-width: 100%;
  object-fit: cover;
}


ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 128px;
}

header {
  background-color: var(--background-header);
  height: 160px;
  width: 100%;
}

li a {
  color: var(--text-color);
  font-family: var(--font-lily);
  text-decoration: none;
}